@import "styles/normalize.css";
@import "styles/app";



html, body, #root {
  height: 100%;
  background-color: @bg-color-body;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  zoom: 1;
  &::before,
  &::after {
    display: table;
    content: '';
  }
  &::after {
    clear: both;
  }
}
